body{
	background-color: #CCE2E4;
	font-size: 16px;
	font-family: "Times New Roman", sans-serif;
}

/*NAVBAR*/
#navbar-header{
	background-color: #0047AB;
	border-radius: 0;
	border: 0;
}
#brand-text{
	font-size: 40px;
	color: white;
}
#menu-text{
	font-size: 20px;
	color: white;
	margin-bottom:10px;
}
#nav-list{
	margin-bottom: 10px;
}
#nav-list a{
	color: white;
}
#nav-list a:hover{
	background: #0096FF;
}
.navbar-default .navbar-toggle .icon-bar{
	border: 1px solid #CCE2E4; 
}
ul#nav-list.nav.navbar-nav{
	background-color: #088F8F;
	margin-bottom: 0;
	margin-top: 0;
}
li{
	font-size: 20px;
}
/*END OF NAVBAR*/

/*SECTIONS*/
#heading-title{
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.bg-alt{
	background-color: #89CFF0;
	font-size: 20px;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
}
#sec-title{
	text-align: center;
	background-color: #89CFF0;
}
.container-fluid .row section div{
	margin: 10px;
	padding: 5px;
}
p{
	margin: 5px;
}
/*END OF SECTIONS*/


/****************** EXTRA SMALL SCREENS ONLY ******************/
@media (max-width: 767px){
	#brand-text{
		font-size: 32px;
	}
}
