@media (min-width: 992px){
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: Arial, Helvetica, sans-serif;
	}

	#header{
		text-align: center;
		font-size: 2.1875em;
		margin-bottom: 40px;
		margin-top: 35px;
	}

	#container{
		position: relative;
		background-color: blue;
	}

	#container1{
		width: 30%;
		border: 1px solid black;
		background-color: #F6F6E9;
		float: left;
		margin-left: 2.5%;
	}

	#container2{
		width: 30%;
		border: 1px solid black;
		background-color: #F6F6E9;
		float: left;
		margin-left: px;
	}

	#container3{
		width: 30%;
		border: 1px solid black;
		background-color: #F6F6E9;
		float: right;
		margin-right: 2.5%;
	}

	#title_box1{
		width: 150px;
		background-color: #D75413;
		font-size: 1.875em;
		margin-top: 0;
		text-align: center;
		border: 1px solid black;
		float: right;
		clear: left;
		margin-bottom: 5px;
	}


	#title_box2{
		width: 150px;
		background-color: #00FFFF;
		font-size: 1.875em;
		margin-top: 0;
		text-align: center;
		border: 1px solid black;
		float: right;
		clear: left;
		margin-bottom: 5px;
	}


	#title_box3{
		width: 150px;
		background-color: #FFE633;
		font-size: 1.875em;
		margin-top: 0;
		text-align: center;
		border: 1px solid black;
		float: right;
		clear: left;
		margin-bottom: 5px;
	}

	#text{
		float: left;
		font-size: 1.25em;
		margin: 5px 5px 5px 5px;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: Arial, Helvetica, sans-serif;
	}

	#header{
		text-align: center;
		font-size: 2.1875em;
		margin-bottom: 40px;
		margin-top: 30px;
	}

	#container{
		position: relative;
		background-color: blue;
	}

	#container1{
		width: 45%;
		border: 1px solid black;
		background-color: #F6F6E9;
		float: left;
		margin-left: 3.45%;
	}

	#container3{
		width: 93.5%;
		border: 1px solid black;
		background-color: #F6F6E9;
		float: left;
		clear: left;
		margin-top: 20px;
		margin-left: 3.45%;
		margin-right: 3.5%;
	}

	#title_box1{
		width: 150px;
		background-color: #D75413;
		font-size: 1.875em;
		margin-top: 0;
		text-align: center;
		border: 1px solid black;
		float: right;
		clear: left;
		margin-bottom: 5px;
	}


	#title_box2{
		width: 150px;
		background-color: #00FFFF;
		font-size: 1.875em;
		margin-top: 0;
		text-align: center;
		border: 1px solid black;
		float: right;
		clear: left;
		margin-bottom: 5px;
	}


	#title_box3{
		width: 150px;
		background-color: #FFE633;
		font-size: 1.875em;
		margin-top: 0;
		text-align: center;
		border: 1px solid black;
		float: right;
		clear: left;
		margin-bottom: 5px;
	}

	#text{
		float: left;
		font-size: 1.25em;
		margin: 5px 5px 5px 5px;
	}
}

@media (max-width: 767px){
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: Arial, Helvetica, sans-serif;
	}

	#header{
		text-align: center;
		font-size: 2.1875em;
		margin-bottom: 40px;
		margin-top: 30px;
	}

	#container{
		position: relative;
		background-color: blue;
	}

	#container1{
		width: 30%;
		border: 1px solid black;
		background-color: #F6F6E9;
		float: left;
		margin-left: 3.45%;
	}

	.small_screen{
		clear: left;
	}

	#container3{
		width: 30%;
		border: 1px solid black;
		background-color: #F6F6E9;
		float: left;
		clear: left;
		margin-top: 20px;
		margin-left: 3.45%;
	}

	#title_box1{
		width: 150px;
		background-color: #D75413;
		font-size: 1.875em;
		margin-top: 0;
		text-align: center;
		border: 1px solid black;
		float: right;
		clear: left;
		margin-bottom: 5px;
	}


	#title_box2{
		width: 150px;
		background-color: #00FFFF;
		font-size: 1.875em;
		margin-top: 0;
		text-align: center;
		border: 1px solid black;
		float: right;
		clear: left;
		margin-bottom: 5px;
	}


	#title_box3{
		width: 150px;
		background-color: #FFE633;
		font-size: 1.875em;
		margin-top: 0;
		text-align: center;
		border: 1px solid black;
		float: right;
		clear: left;
		margin-bottom: 5px;
	}

	#text{
		float: left;
		font-size: 1.25em;
		margin: 5px 5px 5px 5px;
	}
}